{% extends "global/bases/base-site.html" %}
{% load static %}

{% block local-style %}
<link rel="stylesheet" href="{% static 'blog/css/blog-style.css' %}">
{% endblock %}

{% block title %}Homepage{% endblock %}

{% block content %}
<article class="posts-container">
    {% for post in posts %}
    <div class="minipost-container">
        <div class="minipost-author"><h5>{{ post.user.first_name }} {{ post.user.last_name }}</h5></div>
        <div class="minipost-subcontainer">
            <div class="left-minipost-subcontainer">
                <a class="minipost-image-link" href=""><img class="minipost-image" src="{% static 'blog/images/image-test.jpeg' %}" alt="Post Image"></a>
            </div>
            <div class="right-minipost-subcontainer">
                <h3 class="minipost-title">{{ post.title }}</h3>
                <p class="minipost-description"> {{ post.description|truncatechars:100 }}</p>
            </div>
        </div>
        <div class="minipost-interactions">
            <span class="minipost-reactions-container">
                <button class="like-button"><img src="{% static 'blog/icons/thumbs-up.svg' %}" alt="like button"></button>
                <button class="dislike-button"><img src="{% static 'blog/icons/thumbs-down.svg' %}" alt="dislike button"></button>
                <a class="comments-link" alt="comment bubble"><img src="{% static 'blog/icons/chat-bubble-empty.svg' %}"></a>
            </span>
            <span class="minipost-options-container">
                <button type="button" class="minipost-options-button"><img src="{% static 'blog/icons/more-horiz-circle.svg' %}"></span>
                <button class="save-minipost-button"><img src="{% static 'blog/icons/bookmark.svg' %}"></span>
            </span>
        </div>
    </div>
    {% endfor %}
</article>
<aside class="sidebar">
    <nav class="sidebar-nav-topics">
        <ul>
            <li><i></i><a href="">Home</a></li>
            <li><a href="">Tags</a></li>
            <li><a href="">People</a></li>
        </ul>
    </nav>
    <footer>
        <a href="">About</a>
        <a href="">Contact us</a>
        <a href="">Terms of use</a>
        <a href="">Privacy Policy</a>
    </footer>
</aside>
{% endblock %}