{% extends "global/bases/base-site.html" %}
{% load static %}

{% block local-style %}
<link rel="stylesheet" href="{% static 'blog/css/blog-style.css' %}">
{% endblock %}

{% block title %}{{ post.title }} - CompShares{% endblock %}

{% block content %}
<article class="post">
    <h1 class="post-title">{{ post.title }}</h1>
    <p1 class="post-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis optio excepturi veritatis recusandae? Iure quidem illo iste nulla harum consequatur.</p1>
    <div class="post-interactions">
        <span class="post-reactions-container post-interactions-subcontainer">
            <button class="like-button"><img src="{% static 'blog/icons/thumbs-up.svg' %}" alt="like button"></button>
            <span class="like-count">40</span>
            <button class="dislike-button"><img src="{% static 'blog/icons/thumbs-down.svg' %}" alt="dislike button"></button>
            <span class="dislike-count">3</span>
        </span>
        <span class="post-options-container post-interactions-subcontainer">
            <button type="button" class="post-options-button"><img src="{% static 'blog/icons/more-horiz-circle.svg' %}"></span>
            <button class="save-post-button"><img src="{% static 'blog/icons/bookmark.svg' %}"></span>
        </span>
    </div>
    <div class="post-user-info">
        <div class="post-user-icon"><img src="{% static 'global/icons/profile-circle.svg' %}" alt="profile-icon">
        </div>
        <div class="post-username-date">
            <span class="post-username">Username</span>
            <span class="post-date">Posted in Jan 28</span>
        </div>
    </div>
    <!-- Markdown block -->
    <article class="post-text-container">
        <p>{{ post.post_text }}</p>
    </article>
<article>
{% endblock %}