{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'global/css/base-style.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/login-style.css' %}">
</head>
<body>
    <main class="login-main">
        <div class="login-container">
            <h1 class="login-header">Log in</h1>
            <form action="/" method="post" class="login-form">
                <label for="email-input">Email</label>
                <input type="email" id="email-input" maxlength="320" required>
                <label for="">Password</label>
                <input type="password" id="password-input" minlength="8" required>
                <button type="submit" class="login-button">Log in</button>
                <span>or</span>
                <div class="social-login-container">
                    <div class="google-login">Google</div>
                    <div class="github-login">Github</div>
                </div>
                <span class="not-account-text">Don't have an account? <a href="/">Register</a></span>
            </form>
        </div>
    </main>
</body>
</html>