body {
    background-color: var(--background);
}

header {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--background);
}

header > *, .search-form > *, .user-container > * {
    font-size: 1.2rem;
}

.logo {

}

.search-form {
    position: relative;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid var(--secondary);
    border-radius: 25px;
}

.search-button {
    background: none;
    border: none;
    position: absolute;
    padding: 0.5em;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: pointer;
}

.user-container button {
    background: none;
    border: none;
}

.user-container img {
    width: 2rem;
    cursor: pointer;
}

.main-page {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 80px;
}

.posts-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.post-container {
    border: 2px solid var(--secondary);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.post-interactions {
    margin-top: auto;
}

.post-interactions img {
    cursor: pointer;
}

.post-author {
    border-bottom: 2px solid var(--secondary);
    padding: 0.5rem;
    text-align: center;
    background-color: var(--accent);
}

.post-subcontainer {
    display: flex;
    padding: 1rem;
}

.left-post-subcontainer {
    width: 40%;
}

.right-post-subcontainer {
    width: 60%;
    margin-left: 1rem;
    text-align: start;
}

.post-interactions {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.post-interactions button {
    background: none;
    border: none;
}

.like-button {

}

.post-image {
    width: 100%;
}

.sidebar {
    width: 20%;
}

.sidebar {

}

.sidebar-nav-topics ul {
    list-style: none;
    margin-bottom: 2rem;
}

.sidebar-nav-topics li {
    font-size: 2rem;
}

footer {
    padding-top: 1rem;
    border-top: 1px solid var(--secondary);
}