/* General styling */
.main-page {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 80px;
}

/* Homepage */
.posts-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.minipost-container {
    border: 2px solid var(--secondary);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.minipost-author {
    border-bottom: 2px solid var(--secondary);
    padding: 0.5rem;
    text-align: center;
    background-color: var(--accent);
}

.minipost-subcontainer {
    display: flex;
    padding: 1rem;
}

.left-minipost-subcontainer {
    width: 40%;
}

.right-minipost-subcontainer {
    width: 60%;
    margin-left: 1rem;
    text-align: start;
}

.minipost-interactions {
    margin-top: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.minipost-interactions img {
    cursor: pointer;
}

.minipost-interactions button {
    background: none;
    border: none;
}

.minipost-image {
    width: 100%;
}

.sidebar {
    width: 20%;
}

.sidebar-nav-topics ul {
    list-style: none;
    margin-bottom: 2rem;
}

.sidebar-nav-topics li {
    font-size: 2rem;
}

footer {
    padding-top: 1rem;
    border-top: 1px solid var(--secondary);
}


/* Post page */
.post {
    width: 50%;
    margin: 0 auto;
}

.post-title {
    font-size: 2.5rem;
}

.post-description {
    display: block;
    font-size: 1.4rem;
}

.post-interactions {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
    margin: .7rem 0;
    padding: .5rem;
}

.post-interactions-subcontainer {
    display: flex;
}

.post-interactions-subcontainer > button {
    background: none;
    border: none;
    cursor: pointer;
}

.like-count {
    margin-right: .7rem;
}

.post-interactions-subcontainer img {
    display: block;
    height: 2rem;
}

.post-user-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: .5rem;
}

.post-username-date {
    display: flex;
    flex-direction: column;
}

.post-user-icon img {
    display: block;
    height: 2.6rem;
}

.post-username {
    font-weight: bold;
    font-size: 1.3rem;
}

.post-date {
    font-size: .9rem;
}