.main-page {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 80px;
}

.posts-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.minipost-container {
    border: 2px solid var(--secondary);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.minipost-interactions {
    margin-top: auto;
}

.minipost-interactions img {
    cursor: pointer;
}

.minipost-author {
    border-bottom: 2px solid var(--secondary);
    padding: 0.5rem;
    text-align: center;
    background-color: var(--accent);
}

.minipost-subcontainer {
    display: flex;
    padding: 1rem;
}

.left-minipost-subcontainer {
    width: 40%;
}

.right-minipost-subcontainer {
    width: 60%;
    margin-left: 1rem;
    text-align: start;
}

.minipost-interactions {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.minipost-interactions button {
    background: none;
    border: none;
}

.minipost-image {
    width: 100%;
}

.sidebar {
    width: 20%;
}

.sidebar-nav-topics ul {
    list-style: none;
    margin-bottom: 2rem;
}

.sidebar-nav-topics li {
    font-size: 2rem;
}

footer {
    padding-top: 1rem;
    border-top: 1px solid var(--secondary);
}