body {
    background-color: var(--background);
}

.login-main {
    padding: 4rem;
    display: flex;
    justify-content: flex-end;
}

.login-container {
    background-color: var(--secondary);
    width: 40%;
    padding: 3.5rem;
    border-radius: 5px;
}

.login-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 5px;
}

.login-header {
    font-size: 3rem;
}

.login-form > * {
    font-size: 1.8rem;
}

.login-button {
    background-color: var(--accent);
    border: none;
    border-radius: 10px;
    width: 50%;
    margin-top: 10px;
    padding: 0.2rem;
    align-self: center;
}

.social-login-container {
    display: flex;
    gap: 20%;
}

.not-account-text {
    font-size: 1rem;
}

.not-account-text a {
    color: var(--accent);
    text-decoration: underline;
}