:root {
    --text: #e9f0f1;
    --background: #05051E;
    --primary: #93d5e0;
    --secondary: #41475e;
    --accent: #2C22C8;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    color: var(--text);
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background);
}

header {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

header > *, .search-form > *, .user-container > * {
    font-size: 1.2rem;
}

.logo {

}

.search-form {
    position: relative;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid var(--secondary);
    border-radius: 25px;
}

.search-button {
    background: none;
    border: none;
    position: absolute;
    padding: 0.5em;
    right: 0;
    bottom: 0;
    top: 0;
}

.search-button:hover {
    cursor: pointer;
}

.user-container button {
    background: none;
    border: none;
}

.homepage-main {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.posts-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post-container {
    border: 2px solid var(--secondary);
    border-radius: 15px;
    width: 40%;
}

.post-author {
    border-bottom: 2px solid var(--secondary);
    padding: 0.5rem;
    text-align: center;
}

.post-subcontainer {
    display: flex;
    padding: 1rem;
}

.left-post-subcontainer {
    width: 40%;
}

.right-post-subcontainer {
    width: 60%;
    margin-left: 1rem;
    text-align: start;
}

.post-interactions {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.post-interactions button {
    background: none;
    border: none;
}

.like-button {

}

.post-image {
    width: 100%;
}

.sidebar {
    width: 20%;
}

.sidebar-nav-topics ul {
    list-style: none;
}