:root {
    --text: hsl(187, 22%, 93%);
    --text-negative: hsl(187, 22%, 0%);
    --background: hsl(240, 71%, 13%);
    --primary: hsl(189, 55%, 73%);
    --secondary: hsl(228, 18%, 31%);
    --accent: hsl(244, 71%, 46%);
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    color: var(--text);
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background);
}

header {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--background);
}

header > *, .search-form > *, .user-container > * {
    font-size: 1.2rem;
}

/* TODO: remove X button from search bar */
.search-form {
    position: relative;
    width: 35%;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid var(--secondary);
    border-radius: 25px;
    color: var(--text-negative);
    width: 100%;
}

.search-button {
    background: none;
    border: none;
    position: absolute;
    padding: 0.5em;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: pointer;
}

.user-container button {
    background: none;
    border: none;
}

.user-container img {
    width: 2rem;
    cursor: pointer;
}