{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <header>
        <a class="logo" href="">Logo</a>
        <form action="/" method="GET" class="search-form">
            <input type="search">
            <button type="submit"></button>
        </form>
        <button class="notification-btn"></button>
        <button class="avatar-btn"></button>
    </header>
    <main class="homepage-main">
        <article class="posts-container">
            <div class="post-container">
                <div class="post-author"><h4>Post Author</h4></div>
                <div class="post-subcontainer">
                    <div class="left-post-subcontainer">
                        <a href=""><img class="post-image" src="{% static 'blog/images/image-test.jpeg' %}" alt="Post Image"></a>
                        <div class="interactions">
                            <button class="like-btn">10</button>
                            <button class="dislike-btn">10</button>
                            <a class="comments-link">10</a>
                        </div>
                    </div>
                    <div class="right-post-subcontainer">
                        <h3 class="post-title">Post Title</h3>
                        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="post-options-container">
                            <button type="button" class="post-options-btn">...</span>
                            <button class="save-post-btn">Save</span>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <aside class="sidebar">
            <nav class="sidebar-nav-topics">
                <ul>
                    <li><i></i><a href="">Home</a></li>
                    <li><a href="">Tags</a></li>
                    <li><a href="">People</a></li>
                </ul>
            </nav>
            <footer>
                <a href="">About</a>
                <a href="">Contact us</a>
                <a href="">Terms of use</a>
                <a href="">Privacy Policy</a>
            </footer>
        </aside>
    </main>
</body>
</html>