{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <header>
        <a class="logo" href="">Logo</a>
        <form action="/" method="GET" class="search-form">
            <input type="search">
            <button type="submit"><img src=""></button>
        </form>
        <button class="notification-btn"></button>
        <button class="avatar-btn"></button>
    </header>
    <main class="homepage-main">
        <article class="posts-container">
            {% for post in posts %}
            <div class="post-container">
                <div class="post-author"><h5>{{ post.user.first_name }} {{ post.user.last_name }}</h5></div>
                <div class="post-subcontainer">
                    <div class="left-post-subcontainer">
                        <a class="post-image-link" href=""><img class="post-image" src="{% static 'blog/images/image-test.jpeg' %}" alt="Post Image"></a>
                    </div>
                    <div class="right-post-subcontainer">
                        <h3 class="post-title">{{ post.title }}</h3>
                        <p class="post-description"> {{ post.description }}</p>
                    </div>
                </div>
                <div class="post-interactions">
                    <span class="post-reactions-container">
                        <button class="like-btn"><img src="{% static 'blog/icons/thumbs-up.svg' %}" alt="like button"></button>
                        <button class="dislike-btn"><img src="{% static 'blog/icons/thumbs-down.svg' %}" alt="dislike button"></button>
                        <a class="comments-link" alt="comment bubble"><img src="{% static 'blog/icons/chat-bubble-empty.svg' %}"></a>
                    </span>
                    <span class="post-options-container">
                        <button type="button" class="post-options-btn"><img src="{% static 'blog/icons/more-horiz-circle.svg' %}"></span>
                        <button class="save-post-btn"><img src="{% static 'blog/icons/bookmark.svg' %}"></span>
                    </span>
                </div>
            </div>
            {% endfor %}
        </article>
        <aside class="sidebar">
            <nav class="sidebar-nav-topics">
                <ul>
                    <li><i></i><a href="">Home</a></li>
                    <li><a href="">Tags</a></li>
                    <li><a href="">People</a></li>
                </ul>
            </nav>
            <footer>
                <a href="">About</a>
                <a href="">Contact us</a>
                <a href="">Terms of use</a>
                <a href="">Privacy Policy</a>
            </footer>
        </aside>
    </main>
</body>
</html>